docs/**/*.html linguist-detectable=true linguist-documentation=false
docs/**/*.css linguist-detectable=true linguist-documentation=false
docs/**/*.js linguist-detectable=true linguist-documentation=false
docs/*.html linguist-detectable=true linguist-documentation=false
docs/*.css linguist-detectable=true linguist-documentation=false
docs/*.js linguist-detectable=true linguist-documentation=false
